<%- include("header")%>
<body class="Body">
<h1>This page is the home</h1>
<section class="Book">
<p class="Book">Sophies world character book</p>
<img src=" Sophies-World.png" sizes="50px" width="120px" height="120px"></img>
</section>
<section class="MadHatter">
<p class="MadHatter">Mad hatter:-One who led alice down the rabbit hole</p>
<img src="mad Hatter.jpg"  sizes="50px" width="120px" height="120px"></img>
</section>
<section class="Father"> 
<p class="Father">The Father:-The ever absent ever enigmatic father </p>
<img src="SophiesFather.jpg"  sizes="50px" width="120px" height="120px"></img>
</section>
<section class="Sophie"> 
<p class="Sophie">Sophie:-The young inquisitive philosopher </p>
<img src="Sophie.jpeg"  sizes="50px" width="120px" height="120px"> </img>
</section>
<form action="/" method="post" class="form_class">
    <p>Enter your character into the world of Sophie</p>
    <input placeholder="Your Character" type="text" name="name"></input>
    <input placeholder="His/Her key" type="number" name="password"></input>
    <input placeholder="Enterhisimage" type="image" name="image"></input>
    <button type="submit">Submit your character</button>
</form>
</body>