.form_class{
background-color: aquamarine;
}
.Book{
background-color: brown;
}
.Father{
background-color: coral;
}
.MadHatter{
background-color: blue;
}
.Sophie{
background-color: blueviolet;
}
.Body{
    background-color: aqua;
}
